.container {
  text-align: center;
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
}

.container2 {
  text-align: center;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
}

.text {
  color: red;
  font-size: 40;
  font-weight: bold;
}
